<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/static/style.css}" href="../static/style.css"/>
    <title>Delete User</title>
</head>
<body>
<div class="container">
    <h1>Delete User</h1>
    <form th:action="@{/delete-user}" method="post">
        <input type="submit" value="Delete my account"/>
    </form>
</div>
</body>
</html>